.calculator{
    margin: 50px auto;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 5px solid;
    padding: 100px;
    background-color: rgb(241, 210, 174);
}

.display{
    grid-column: span 4;
    background-color: black;
    color: white;
    text-align: right;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

.zero{
    grid-column: span 2;
}

.btn{
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}